[flake8]
exclude = .git,__pycache__
ignore = \
    A002, \
    D100, \             # Докстринги в публичных модулях
    D104, \             # Докстринги в публичных пакетах (__init__.py)
    D105, \             # Докстринги в магических методах
    D106, \             # Докстринги в публичных вложенных классах (например, Meta)
    D107                # Докстриги в __init__

application-import-names = jira_redmine
import-order-style = pep8
per-file-ignores =
    */migrations/*:D101
